<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buscar</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
<div>
    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/filmes">Filmes</a></li>
        <li><a href="/cadastro">Cadastrar</a></li>
        <li><a href="/buscar">Buscar</a></li>
    </ul>
</div>

<form method="get" action="/buscar">
    <label> Procure pelo nome:  </label>
    <input type="text" name="nome">
    <button>Procurar</button>
</form>



</body>
</html>